/* BODY */

.purple-background {
    background-color: rgb(67, 24, 54);
    /* background-color: rgb(47, 24, 54);  <-- original color */
    color: white;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

h1, h2, h3, h4, h5 {
    font-family: 'Shrikhand', cursive;
}

h1 {
    font-size: 2em;
}


/* CONTENT CONTAINERS */

.lg-box {
    min-height: 65vh;
}

.md-box {
    min-height: 35vh;
}

.lg-background-image {
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.md-background-image {
    min-height: 65vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* BACKGROUND IMAGES */
.background-image1 {
    background-image: url("dq1.jpg");
}
.background-image2{
    background-image: url("dq2.png");
}
.background-image3 {
    background-image: url("dq3.png");
}
.background-image4 {
    background-image: url("dq4.png");
}
.background-image5 {
    background-image: url("dq5.jpg");
}
.background-image6 {
    background-image: url("dq6.jpg");
}


/* HEADER */

.icon {
    width: 25px;
    height: 25px;
}

.active-icon:hover {
    opacity: 0.8;
    transition: 0.1s;
}

.invert { 
    filter: invert(90%); 
}

.navbar-fixed-top.scrolled {
    background-color: rgb(67, 24, 54) !important;
    transition: background-color 400ms linear;
}

.navbar-fixed-top {
    transition: background-color 400ms linear;
}


/* FOOTER */

.footer {
    background-color: red;
}

.footer-hr {
    color: white;
    /* margin: 0, 20px, 0, 20px; */
}


/* Blog */

.transparent {
    opacity: 1;
}

.blog-box {
    min-height: 500px;
}

.blog-container {
    min-height: 100vh;
}

.blog-all {
    /* border: solid 3px; */
    overflow: hidden;
}

.blog-select {
    cursor: default;
}

.main-blog-holder {
    /* border-right: solid 3px; */
    max-height: 700px;
    overflow: scroll;
}

.sub-blog-holder {
    overflow: scroll;
    max-height: 700px;
    cursor: default;
}

.sub-blog-tab {
    border: solid 3px;
    min-height: 100px;
    min-width: 100%;
}

.blog-date {
    font-size: small;
}

/* MEDIA QUERIES */

/* sm */
/* @media (min-width: 576px) {
    p {
      font-size: 0.1em;
    }
  } */

  /* sm */
  @media (min-width: 576px) {
    p {
        font-size: 1.5em;
    }
    h1 {
        font-size: 3em
    }
  }