/* .color-theme-orange {
    background-color: rgb(243, 168, 59);
}

.color-theme-red {
    color: rgb(235, 50, 35);
} */

/* .pride-red {

}
.pride-orange {
    
}
.pride-yellow {
    
}
.pride-green {
    
}
.pride-blue {
    
}
.pride-purple {
    
} */

.purple-background {
    background-color: rgb(67, 24, 54);
    /* background-color: rgb(47, 24, 54);  <-- original color */
    color: white;
}

.no-background {
    background-color: transparent;
    /* background-color: rgb(47, 24, 54);  <-- original color */
    color: white;
}

.invert { 
    filter: invert(90%); 
}

p {
    font-family: 'Lato', sans-serif;
}

h1, h5 {
    font-family: 'Shrikhand', cursive;
}

.box {
    min-height: 50vh;
}

.icon {
    width: 25px;
    height: 25px;
}

.active-icon:hover {
    opacity: 0.8;
    transition: 0.1s;
}

.background-image-all {
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-small {
    min-height: 20vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image {
    background-image: url("dq1.jpg");
}
.background-image1{
    background-image: url("dq2.png");
}
.background-image2 {
    background-image: url("dq3.jpg");
}
.background-image3 {
    background-image: url("dq4.png");
}

.background-image4 {
    background-image: url("dq3.jpg");
}

.footer {
    background-color: red;
}

.footer-hr {
    color: white;
    /* margin: 0, 20px, 0, 20px; */
}

/* Sign up */
.twitter-box {
    height: 300px;
    overflow: scroll;
}

.twitter-timeline {
    width: 500px;
}

/* Blogs */

.transparent {
    opacity: 1;
}

.blog-box {
    min-height: 500px;
}

.blog-container {
    min-height: 100vh;
}

.blog-all {
    /* border: solid 3px; */
    overflow: hidden;
}

.blog-select {
    cursor: default;
}

.main-blog-holder {
    /* border-right: solid 3px; */
    max-height: 700px;
    overflow: scroll;
}

.sub-blog-holder {
    overflow: scroll;
    max-height: 700px;
    cursor: default;
}

.sub-blog-tab {
    border: solid 3px;
    min-height: 100px;
    min-width: 100%;
}

.blog-date {
    font-size: small;
}


